<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnvilLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <AnvilLauncher.Properties.Settings>
            <setting name="ManifestUrl" serializeAs="String">
                <value>http://anvilonline.net/updates/build_v1_0/manifest.json</value>
            </setting>
            <setting name="BinDirectory" serializeAs="String">
                <value>.\bin</value>
            </setting>
            <setting name="UiDirectory" serializeAs="String">
                <value>.\ui</value>
            </setting>
            <setting name="ExecutableLocation" serializeAs="String">
                <value>.\halo_online.exe</value>
            </setting>
            <setting name="DefaultArgs" serializeAs="String">
                <value>--account 123 --sign-in-code 123 -width 1280 -height 720 -window</value>
            </setting>
            <setting name="ModuleName" serializeAs="String">
                <value>AnvilClient.dll</value>
            </setting>
            <setting name="SkipUpdate" serializeAs="String">
                <value>False</value>
            </setting>
        </AnvilLauncher.Properties.Settings>
    </userSettings>
</configuration>
